@font-face{
    font-family: 'Noto Sans KR';
    src: url('resources/Noto_Sans_KR/NotoSansKR-Medium.otf')
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0px 30px;
    border-bottom: 1px solid #eee;
    z-index: 101;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    color: #707070;
}


footer{
    position: relative;
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    background-color: #fafafa;
    border-top: 1px solid #eeeeee;
}

.text-divider{
    margin: 0 10px;
    color: #DDDDDD;
}

.f_container{
    width: 100%;
    min-height: 320px;
    margin: 0 auto;
    padding: 40px 0 70px;
    overflow: hidden;

}

.a_info_container{
    margin-bottom: 30px;
    
}

.a_info_container_active{
    padding-top: 20px;
    font-weight: 350;
}
.dropdown{
    display: inline-flex;
    align-items: center;
    color: #555555;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    user-select: none;
}

.a_serv_container{
    margin-bottom: 40px;
}

.a_serv_container_wrapper{
    display: flex;
    margin-bottom: 12px;
}

.service-category{
    margin-right: 38px;
    color: #555555;
    font-weight: bold;
}

.a_serv{
    display: flex;
    align-items: center;
    margin: 0 -10px 0;
}

.a_serv_serv{
    margin: 0 10px;
    cursor: pointer;
}


.a_addinfo_container{
    display: flex;
    justify-content: space-between;
}

.terms-wrapper{
    display: flex;
    align-items: center;
    margin: -12px;
}

.terms-wrapper > div{
    margin: 12px;
}

.app-store-wrapper{
    display: flex;
    align-items: center;
}

.logo{
    width: 120px;
    vertical-align: middle;
    border: 0;
    cursor: pointer;
}


.t_center{
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 30px;
    white-space: nowrap;
}

.beta{
    font-size: 12px;
    line-height: 18px;
    position: relative;
    top: -6px;
    left: -4px;
    color: #ff6813;
}

.t_right{
    cursor: pointer;
}


.login{
    width: 44.17px;
    height: 22.84px;
}

.bsbutton{
    font-size: 14px;
    border-radius: 15px;
    margin-left: 12px;
    height: 30px;
    width: 86px;
    align-items: center;
    color: #999;
    text-decoration: none;
    white-space: nowrap;
    justify-content: center;
    border: 1px solid #EEE;
}
*{
    box-sizing: border-box;
}
.t_b div{
    position: relative;
    margin: 0 15px;
    cursor: pointer;
    color: #707070;    
}

.t_b:first-child{
    margin-left: -30px;
}
body{
    max-width: 1350px;
    font-weight: 400;
    background-color: #fff;
}
div{
    display: inline;
}


html{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
}






main{
    font-family: 'Nanum Gothic', sans-serif; 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
}

.main-banner{
    position: relative;
}

.gg-inventory{
    min-width: 1200px;
    height: 300px;
    background: url(https://jasoseol.com/assets/index/75_blue-0bc98bad46bcbe933d9b00cebb69f11ecca9bcfd5a425c7ac43e11cc71c45e88.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;


}

.main-banner .banner-container .clear-background{
    background: #fff;
}
.main-banner .banner-container{
    position: relative;
    height: 100%;
}

.main-banner .banner-container .main-banner-ggs{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.main-banner .banner-container .main-banner-ggs a img{
    display: inline-block;
    min-width: 1200px;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-banner .banner-container .controller-container{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.main-banner .banner-container .controller-container .banner-controller{
    position: absolute;
    width: 104px;
    height: 40px;
    border-radius: 22px;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    display: flex;
}

.main-banner .banner-container .controller-container .banner-controller .background{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    opacity: 0.9;
    z-index: 1;
    border-radius: 22px;
}

.main-banner .banner-container .controller-container .banner-controller .controller-info{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777777;
    font-size: 15px;
    z-index: 2;
}

.main-banner .banner-container .controller-container .banner-controller .controller-info img{
    margin-top: 1px;
    width: 6px;
    height: 12px;
    cursor: pointer;
}

.main-banner .banner-container .controller-container .banner-controller .controller-info span{
    width: 60px;
    text-align: center;
    margin-top: 1px;
}



/* section */
.section{
    position: relative;
    width: 100%;
    min-width: 1200px;
}
.section *:not(i){
    font-family: 'Noto Sans KR', sans-serif;
}

/* 메인 2번 배너*/
.section .employment-company-search-area-section{
    overflow: visible;
}
.employment-company-search-area-container{
    display: flex;
    min-width: 1200px;
    width: 80%;
    height: 80px;
    margin: 20px auto 60px;
    border-bottom: 2px solid #333333;
    cursor: text;
}

.employment-company-search-area-container .employment-company-search-area{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#employment-company-search-field{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 810px 20px 42px;
    border: none;
    background: transparent;
    font-size: 18px;
    outline: none;
    opacity: 0.5;
}

.search-icon{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}



.recruit-advertisement{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 260px;
    height: 44px;
    margin: 0 5px;
    background: #fafafa;
    padding: 0 10px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    color: #777777;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
}
                                    


/* 메인 3번 배너*/
.recommended-employments{
    padding: 0 0 6px;
    overflow: hidden;
    background: linear-gradient(transparent 0%, transparent 31%, #fafafa 31%, #fafafa 100%);
}

.groups-controller-right{
    width: 78px;
    height: 78px;
    border-radius: 100%;
    position: absolute;
    top: 595px;
    right: 60px;
}

.recommended-employments-container{
    min-width: 1200px;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.recommended-employments-container .title{
    color: #333;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
}

.recommended-employments-container .groups{
    margin-top: 40px;
    display: flex;
    position: relative;
    left: 0;
    transition: left .5s;
    margin-left: 5%;
}

.recommended-employments-container .groups .group{
    width: 282px;
    min-width: 282px;
    margin-right: 25px;
}

.recommended-employments-container .groups .group .group-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 54px;
    margin-bottom: 20px;
}

.group-items{
    margin-top: 20px;
}

.group-title .group-title-from{
    max-width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-title span{
    padding: 0 5px;
    background: linear-gradient(transparent 0%, transparent 60%, #fff1e9 60%, #fff1e9 100%);
    color: #333;
    font-size: 18px;
    font-weight: 350;
}


.group-items .item{
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    width: 282px;
    height: 115px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

.item .item-company-name{
    color: #333;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.item .item-title{
    color: #555;
    font-size: 15px;
    font-weight: 350;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item .item-end-time{
    color: #999;
    font-size: 14px;
    font-weight: 350;
}

.item .item-logo{
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-logo img{
    max-width: 40px;
    max-height: 30px;
}


/* 메인 4번 배너*/
.section .personal{
    min-width: 1200px;
    margin: 80px auto 60px;
}

.section .personal .induce-section{
}

.induce-sign-up-section{
    padding-top: 35px;
    padding-bottom: 30px;
    background: #fafafa;
    color: #707070;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #eeeeee;
    border-radius: 5px;
    margin: 100px auto;

}

.induce-sign-up-section .title{
    font-size: 22px;
    font-weight: 500;
}

.induce-sign-up-section .sub-title{
    margin-top: 6px;
    font-size: 16px;
}

.induce-sign-up-section .link-button{
    padding: 12px 20px;
    height: 48px;
    border: 1px solid #fed2ba;
    background: #fff6f0;
    text-decoration: none;
    color: #ff6813;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-weight: 400;
    border-radius: 5px;


}




/* 메인 5번 배너 */
.section .line-banner{
    min-width: 1200px;
    margin: 80px auto 60px;
    cursor: pointer;
}



.line-banner img{
    width: 90%;
    height: 100px;
    margin: 100px auto;
    margin-left: 5%;
}



/* 메인 6번 배너 */
.section .top-employments-by-duty-group-section{
    background: #fafafa;
}

.top-employments-container{
    width: 1200px;
    height: 356px;
    margin: 80px auto 40px;
    margin-bottom: 100px;
}

.top-employments-container .title{
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
    margin-left: 5%;
}

.top-employments-container .duty-groups-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
}

.top-employments-container .employments-wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 254px;
    margin-left: 4%;
    width: 92%;
    margin-bottom: 100px;
}

.duty-groups-wrapper .duty-group{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    background: none;
    font-size: 18px;
    font-weight: 350;
    line-height: 1.5;
    outline: none;
    cursor: pointer;
}

.duty-group-only{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 18px;
    font-weight: 350;
    line-height: 1.5;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    color: #ff6813;
    height: 37px;
    margin-bottom: -9px;
    border-bottom: 4px solid #ff6813;
    content: attr(data-duty-group-name);
}

.employments-wrapper .employment{
    position: relative;
    display: flex;
    align-items: center;
    width: calc(25% - 24px);
    height: 115px;
    margin: 12px;
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.employment .logo-wrapper{
    position: absolute;
    bottom: 10px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
}

.employment .logo-wrapper img{
    max-width: 40px;
    max-height: 30px;
}

.employment .info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.employment .info-wrapper > div{
    word-break: keep-all;
}

.employment .info-wrapper .company-name{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    
}
.employment .info-wrapper .field{
    color: #555555;
    font-size: 15px;
    font-weight: 350;
    text-overflow: ellipsis;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
}
.employment .info-wrapper .additional-info{
    font-size: 14px;
    font-weight: 350;
    color: #999999;
    line-height: 1.5;
}


/* 메인 7번 배너 */
.section .top-employments-by-condition-section{
    background: #fafafa;
}

.top-employments-by-condition-section .tec1{
    position: relative;
    width: 1200px;
    height: 186px;
    margin-left: 5%;
}

.top-employments-by-condition-section .tec2{
    position: relative;
    width: 1200px;
    height: 215px;
    margin-left: 5%;
}

.tec1 .title{
    margin-bottom: 35px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
}

.tec1 .next-employment-companies{
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 39px;
    color: #999999;
    cursor: pointer;
    user-select: none;
    left: 61%;
}

.tec1 .next-employment-companies img{
    width: 14px;
    height: 12px;
    margin-top: 2px;
    margin-left: 5px;
}



.tec1 .nec-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 12px auto;
    margin-bottom: 100px;
}

.tec1 .nec-wrapper .ne{
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    width: calc(80% / 4 - 23px);
    height: 128px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5.5%;
}


.tec1 .nec-wrapper .ne .advertise-mark{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #EEEEEE;
    font-weight: 350;
    font-size: 12px;
}

.tec1 .nec-wrapper .ne .info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tec1 .nec-wrapper .ne .info-wrapper > div{
    word-break: keep-all;
}
.tec1 .nec-wrapper .ne .info-wrapper .additional-info .resumes-count{
    display: inline-block;
    padding: 5px 8px;
    border-radius: 6px;
    background: #FFF1E9;
    font-size: 14px;
    font-weight: 500;
    color: #FF6813;
}

.tec1 .nec-wrapper .ne .info-wrapper .ect{
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tec1 .nec-wrapper .ne .info-wrapper .cn{
    color: #555555;
    font-size: 15px;
    font-weight: 350;
}


.tec2 .title{
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
}

.tec2 .next-employment-companies{
    position: relative;
    left: 57%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 39px;
    color: #999999;
    cursor: pointer;
    user-select: none;
}

.tec2 .next-employment-companies img{
    width: 14px;
    height: 12px;
    margin-top: 2px;
    margin-left: 5px;
}


.tec2 .nec-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 12px auto;
    margin-bottom: 100px;
}

.tec2 .nec-wrapper .ne{
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    width: calc(80% / 6 - 36px);
    height: 143px;
    margin-left: 5%;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.tec2 .nec-wrapper .ne .advertise-mark{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #EEEEEE;
    font-weight: 350;
    font-size: 12px;
}

.tec2 .nec-wrapper .ne .info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tec2 .nec-wrapper .ne .info-wrapper .deadline-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.deadline-wrapper .deadline{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    background: #FFF1E9;
    color: #FF6813;
    font-size: 20px;
    font-weight: 500;
}

.tec2 .nec-wrapper .ne .info-wrapper .cn{
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tec2 .nec-wrapper .ne .info-wrapper .additional-info .resumes-count{
    font-size: 14px;
    font-weight: 350;
    color: #999999;
}




/* 메인 8번 배너*/
.famous-chat{
    width: 1200px;
    margin: 80px auto;
}

.famous-chat .content-h{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
    margin-left: 5%;
}

.famous-chat .content-h img{
    width: 26px;
    height: 26px;
}

.famous-chat .content-b{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.famous-chat .content-b .main-container{
    display: flex;
    width: 75%;
    margin-left: 5%;
    margin-bottom: 100px;
}

.chat-preview{
    width: 282px;
    height: 380px;
    margin-right: 24px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.chat-preview .h{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
}

.chat-preview .b{
    padding: 5 20px;
}

.chat-preview .f{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}


.chat-preview .h .cn{
    width: 180px;
    display: flex;
    align-items: center;
    height: 24px;
}

.chat-preview .h .cn span{
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat-preview .h .chat-info{
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
}


.chat-preview .h .chat-info .chat-image{
    width: 14px;
    height: 14px;
    margin-top: -1px;
    margin-right: 5px;
}


.chat-preview .b .chat-p{
    height: 176px;
    overflow: auto;
}

.chat-preview .b .chat-p .messages{
    padding: 0;
}



.chat-preview .b .chat-p .messages .message{
    margin-top: 5px;
    font-size: 12px;
}

.messages .message .body{
    display: flex;
}

.messages .message .body .talk{
    max-width: 80%;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    background: #f0f0f0;
    word-break: break-word;
}

.messages .message .body .time{
    font-size: 10px;
    display: flex;
    align-items: flex-end;
}


.chat-preview .f .chat-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    border: 1px solid #FED2BA;
    border-radius: 5px;
    background-color: #FFF1E9;
    color: #FF6813;
    cursor: pointer;
}

.famous-chat .content-b .sub-container{
    width: 23%;
    height: 300px;
    overflow: hidden;
}

.sub-container .jss-company-name-component{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 0 12px 12px 0;
    border: 1px solid #EEE;
    border-radius: 5px;
    background-color: #FAFAFA;
    cursor: pointer;
}


/* 메인 9번 배너*/
.section .datalab{
    width: 1200px;
    margin: 80px auto 100px;

}

.datalab .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.datalab .content-container{
    display: flex;
    justify-content: space-between;
}

.datalab .header .title{
    font-size: 26px;
    font-weight: bold;
    margin-left: 5%;
}

.datalab .header .datalab-link{
    display: flex;
    align-items: center;
    color: #999;
    cursor: pointer;
    margin-right: 5%;
}

.datalab .header .title img{
    margin-bottom: -3px;
    width: 26px;
    height: 26px;
}

.datalab .header .datalab-link span{
    margin-right: 4px;
}

.datalab .header .datalab-link img{
    width: 12px;
    height: 12px;
    margin-top: 2px;
}

.datalab .content-container .main-contents{
    display: flex;
    justify-content: space-between;
    width: 74.5%;
}

.datalab .content-container .sub-contents{
    width: 23%;
    height: 156px;
    overflow: hidden;
}

.main-contents .main-content{
    border: 1px solid #eee;
    border-radius: 5px;
    width: 435px;
    height: 175px;
    display: inline-flex;
    color: #555;
    padding: 30px;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: -3%;
    margin-bottom: 100px;
}

.main-contents .main-content .company-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
    margin-top: 5px;
}
.main-contents .main-content .contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.main-contents .main-content .company-info .logo{
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-contents .main-content .company-info .logo img{
    max-width: 60px;
    max-height: 40px;
}
.main-contents .main-content .company-info .nameoneline{
    margin: 12px 0 3px;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    height: 24px;

    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.2em;
    height: 2.4em;
    text-align: center;
}


.main-contents .main-content .company-info .employment{
    font-size: 15px;
}





.main-contents .main-content .contents .link-contents{
    width: 100%;
    border: 1px solid #FED2BA;
    border-radius: 5px;
    background-color: #FFF1E9;
    color: #FF6813;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content-row{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: #666;
}

.content-row .info-name{
    color: #999;
}

.content-row .info-data span:first-child{
    color: #555;
    font-weight: bold;
}

.content-row .info-data span:last-child{
    color: #777;
}


